
/* &display=swap&subset=cyrillic-ext */

/*Поключение Шрифтов*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

nav, footer, fullscreen {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	font-family: 'Montserrat';
	
}

a:active, a:focus { outline: none; }



/*=================ОСНОВНЫЕ ОБЩИЕ СТИЛИ=============*/


.wrapper{
	min-height: 100%;
	min-height: 100vh;
	overflow: hidden;
	
}













/*==========================================================CAR_CONSTRUCTION====================================================================================================*/







/*==================================CAR-MAIN-BLOCK-MOVEMENT==================================*/
.car {
	min-height:100vh ;
	position: relative;
}

.car__block{
	position: absolute;
	width: 20%;
	height: 30%;
	transform: scale(0.55);
	top:30%;
	left: -700px;
	z-index: 56;
}

.wrapper:hover .car__block{
	transform: translate(1000px) scale(0.55);
	transition: all 10s ease-out 0s;
}
.wrapper:hover .car__block{
	visibility: hidden;
	transition: all 18s ease-out 0s;
}

.car__block_two{
	visibility: hidden;
	left: 300px;
}

.wrapper:hover .car__block_two{
	visibility: visible;
	transform: translate(3000px) scale(0.55) rotate(0deg);
	transition: all 25s ease-out 18s;
}
/*==================================CAR-MAIN-BLOCK-MOVEMENT==================================*/






/*==================================CAR-WHEELS==================================*/
.car__wheel {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color:rgb(36, 36, 36);
	border: 3px solid black;
	position: absolute;
	top: 500px;left: 0;
	z-index: 21;
	box-shadow:inset 2px 2px 15px 5px rgba(87, 87, 87, 0.597);
}
.car__wheel::before {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color:#ffffff;
	border: 3px solid black;
	display: inline-block;
	box-shadow: 2px 2px 32px 5px rgba(0, 0, 0, 0.597);
}
.car__wheel::after {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color:goldenrod;
	border: 3px solid black;
	display: inline-block;
}
.car__wheel span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:url('../img/logo.svg') center/ 50px no-repeat;
	border: 3px solid rgb(0, 30, 80);
	z-index: 2;
}



.car__wheel-add {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color:rgb(36, 36, 36);
	border: 3px solid black;
	position: absolute;
	top: 500px;left: 0;
	z-index: 21;
	box-shadow:inset 2px 2px 15px 5px rgba(87, 87, 87, 0.597);
}
.car__wheel-add::before {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color:#ffffff;
	border: 3px solid black;
	display: inline-block;
	box-shadow: 2px 2px 32px 5px rgba(0, 0, 0, 0.597);
}
.car__wheel-add::after {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color:goldenrod;
	border: 3px solid black;
	display: inline-block;
}
.car__wheel-add span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:url('../img/logo.svg') center/ 50px no-repeat;
	border: 3px solid rgb(0, 30, 80);
	z-index: 2;
}


.wrapper:hover .car__wheel {
	transform: rotate(10800deg);
	visibility: hidden;
	transition: all 18s linear 0s;
}
.wrapper:hover .car__wheel-add{
	transform: rotate(10800deg);
	visibility: visible;
	transition: all 18s linear 18s;
}

.car__wheel_second{
	position: absolute;
	left: 730px;
}
.car__wheel-add_second{
	position: absolute;
	left: 730px;
}
/*==================================CAR-WHEELS==================================*/

/*=======================================CAR-WINDOWS======================================*/
.car__windows{
	position: absolute;
	top: 305px;
	left: 0;
}

.car__window{
	position: absolute;
	top: 0px;
	left:378px;
	border-radius: 5% 35% 8% 5% / 24% 94% 8% 24% ;
	border: 3px solid black;
	width: 238px;
	height: 100px;
	z-index: 18;
	/*background: linear-gradient(to right, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);*/
	background:url('../img/passangers.jpg') center -20px / 238px 150px no-repeat ;
}
.car__window:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(208,228,247,0.6) 0%,rgba(115,177,231,0.6) 24%,rgba(10,119,213,0.6) 50%,rgba(83,159,225,0.6) 79%,rgba(135,188,234,0.6) 100%);
	border-radius: 5% 35% 8% 5% / 24% 94% 8% 24% ;
	border:1px solid black
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 19;
}

.wrapper:hover .car__window:after{
	transition: all 6s ease 12s;
	top: 100px;
	height: 0%;
	z-index: 1;
}

.car__window::before{
	content: '';
	position: absolute;
	top: -3px;
	left: 140px;
	height: 100px;
	width: 3px;
	background: black;
}

.car__window_two{
	position: absolute;
	top: 0;
	left: 137px;
	border-radius: 84% 12% 11% 61% / 100% 34% 40% 10%;
	width: 210px;
	background: linear-gradient(to right, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
}
.car__window_two::before{
	display: none;
}
.car__window_two::after{
	display: none;
}
.car__window_three{
	position: absolute;
	top: -20px;
	left: 53px;
	border-radius:70% 47% 57% 63% / 48% 16% 10% 53% ;
	width: 32px;
	height: 114px;
	transform: rotate(54deg);
	background: linear-gradient(to right, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
}
.car__window_three::before{
	display: none;
}
.car__window_three::after{
	display: none;
}
/*=======================================CAR-WINDOWS======================================*/



/*=======================================BOTTOM======================================*/
.car__bottom{
	position: absolute;
	top: 595px;
	left: 248px;
	height: 33px;
	width: 460px;
	border: 3px solid black;
	z-index: 9;

}
.car__bottom::before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	height: 14px;
	width: 457px;
	background-color: black;
}
/*=======================================BOTTOM======================================*/

/*=======================================CAR-DOOR======================================*/
.car__door{
	border-radius:29% 56% 0% 0% / 2% 120% 53% 53% ;
	position: absolute;
	top:283px;
	left: 357px;
	height: 315px;
	width: 300px;
	border: 3px solid black;
	z-index: 16;
	background-color: rgb(255, 255, 255);
	background: url('../img/image-fixed.jpg') center bottom / 330px 168px no-repeat greenyellow;
}
.car__door:before{
	position: absolute;
	content: '';
	bottom: 148px;
	left: 8px;
	height: 14px;
	width: 75px;
	border-radius: 100%;
	border: 3px solid black;
	background-color: greenyellow;
}
.car__door:after{
	position: absolute;
	content: '';
	top:0;
	left: -434px;
	height: 312px;
	width: 432px;
	border: 3px solid black;
	z-index: 7;
	background-color: greenyellow;
	border-radius:100% 0% 0% 100% / 100% 91% 0% 0% ;
}

.car__door-fitting {
	position: absolute;
	top: 550px;
	left: 647px;
	border: 2px solid black;
	width: 12px;
	height: 30px;
	background: greenyellow;
	z-index: 30;
}
.car__door-fitting_two {
	top: 460px;
}
/*=======================================CAR-DOOR======================================*/

/*=======================================FRAME======================================*/
.car__frame{
	border-radius:35% 28% 0% 0% / 100% 100% 0% 0% ;
	position: absolute;
	top:426px;
	left: -68px;
	height: 192px;
	width: 1050px;
	border: 2px solid rgb(0, 0, 0);
	z-index: 16;
}
/*=======================================FRAME======================================*/



/*=======================================WHEEL COVERS======================================*/
.car__front-whell-cover{
	position: absolute;
	left: 668px;
	top: 455px;
	border: 3px solid black;
	width: 325px;
	height: 174px;
	border-radius:68% 47% 11% 12% / 100% 100% 14% 8% ;
	z-index: 20;
	background: greenyellow;
	transform: rotate(-4deg);
	box-shadow: 3px 3px 22px 10px rgba(0, 0, 0, 0.597);

}
.car__front-whell-cover:before{
	position: absolute;
	content: '';
	top: 35px;
	left: 40px;
	border: 3px solid black;
	width: 230px;
	height: 136px;
	border-radius:68% 57% 11% 12% / 100% 100% 14% 8% ;
	z-index: 20;
	background-color: rgb(106, 106, 106);
	box-shadow: 3px 3px 22px 10px rgba(0, 0, 0, 0.597), inset 3px 3px 22px 7px rgba(0, 0, 0, 0.597);
}

.car__front-whell-cover_back{
	height: 194px;
	width: 335px;
	top: 438px;
	left: -65px;
	transform: rotateY(0deg) rotate(4deg);
}

.car__front-whell-cover_back:before{
	top: 51px;
	left: 50px;
	height: 140px;
}
/*=======================================WHEEL COVERS======================================*/

/*=======================================FORE-PART======================================*/
.car__fore-part{
	border-radius:42% 35% 3% 12% / 100% 100% 14% 8% ;
	position: absolute;
	top:385px;
	left: -50px;
	height: 230px;
	width: 1090px;
	border: 3px solid rgb(0, 0, 0);
	background: greenyellow;
	z-index: 11;
	box-shadow: 3px 3px 22px 10px rgba(0, 0, 0, 0.597), inset 3px 3px 22px 5px rgba(0, 0, 0, 0.597);
}

.car__aft-part{
	border-radius:52% 17% 3% 6% / 105% 110% 0% 8%  ;
	position: absolute;
	top:265px;
	left: -80px;
	height: 350px;
	width: 755px;
	border: 3px solid rgb(0, 0, 0);
	background: rgb(156, 232, 43);
	z-index: 10;
	box-shadow: 3px 3px 22px 7px rgba(0, 0, 0, 0.597), inset 3px 3px 22px 5px rgba(0, 0, 0, 0.597);
}
/*=======================================FORE-PART======================================*/

/*=======================================CAR-LIGHTS======================================*/

.car__light-front{
	position: absolute;
	top: 525px;
	left: 928px;
	width: 80px;
	height: 12px;
	border: 3px solid #000;
	z-index: 20;
	border-radius:0% 0% 50% 50% / 0% 0% 50% 50%  ;
	transform: rotate(67deg);
	background: greenyellow;
	box-shadow: 3px 3px 32px 8px rgba(0, 0, 0, 0.597);
}
.car__light-front::before{
	position: absolute; 
	content: '';
	top: -20px;
	left: -3px;
	width: 80px;
	height: 20px;
	border-radius: 51% 49% 47% 53% / 100% 100% 0% 0% ;
	border: 3px solid #000;
	z-index: 20;
	transform: rotate(0deg);
	background: yellow;
}

.car__light-front-top{
	position: absolute;
	top: 443px;
	left: 825px;
	width: 60px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid #000;
	z-index: 20;
	transform: rotate(0deg);
	background: greenyellow;
	box-shadow: 3px 3px 32px 8px rgba(0, 0, 0, 0.597);
	z-index:18;
	transform: rotate(-10deg);
}
.car__light-front-top::before{
	position: absolute; 
	content: '';
	top: 0px;
	left: 27px;
	width: 38px;
	height: 18px;
	border-radius: 51% 49% 47% 53% / 100% 100% 0% 0% ;
	border: 3px solid #000;
	z-index: 20;
	transform: rotate(0deg);
	background: yellow;
	border-radius: 50%;

}

.car__light-back{
	position: absolute;
	border: 3px solid #000;
	width: 40px;
	height: 40px;
	top: 485px;
	left: -50px;
	background: greenyellow;
	z-index: 18;
	transform: skewX(-20deg) ;
}
.car__light-back::before{
	position: absolute;
	content: '';
	width: 3px;
	height: 40px;
	left: 3px;
	top: -3px;
	background-color: black;
}
.car__light-back span{
	position: absolute;
	width: 15px;
	height: 35px;
	left: -15px;
	top: 0px;
	border: 2px solid #000;
	background-color: rgb(255, 0, 0);
	transform: skewX(0deg) ;
	z-index: 15;
}
/*=======================================CAR-LIGHTS======================================*/

/*=======================================BAMPERS======================================*/
.car__bamper-forward{
	position: absolute;
	height: 30px;
	width: 65px;
	border-radius: 20px;
	border: 2px solid black;
	top: 555px;
	left: 1030px;
	z-index: 22;
	transform: rotate(87deg);
	background-color: rgb(237, 234, 234);
}
.car__bamper-forward::before{
	position: absolute;
	content: '';
	height: 25px;
	width: 95px;
	border-radius: 20px;
	border: 2px solid black;
	top: 40px;
	left: -5px;
	z-index: 22;
	background-color: rgb(237, 234, 234);
	transform: rotate(93deg);
	box-shadow: 3px 3px 22px 6px rgba(0, 0, 0, 0.597);
}

.car__bamper-back{
	position: absolute;
	height: 30px;
	width: 65px;
	border-radius: 20px;
	border: 2px solid black;
	top: 560px;
	left: -140px;
	transform: rotate(93deg);
	background-color: rgb(237, 234, 234);
	z-index: 22;
}
.car__bamper-back::before{
	position: absolute;
	content: '';
	height: 25px;
	width: 75px;
	border-radius: 20px;
	border: 2px solid black;
	top: -30px;
	left: 5px;
	background-color: rgb(237, 234, 234);
	transform: rotate(87deg);
	box-shadow: 3px 3px 22px 6px rgba(0, 0, 0, 0.597);
}

.car__backdoor-handle{
	position: absolute;
	top: 440px;
	left:-80px;
	width: 80px;
	height: 30px;
	border: 3px solid black;
	background: greenyellow;
	border-radius: 50%;
	z-index: 9;
	transform: rotate(-30deg);
}
/*=======================================BAMPERS======================================*/

/*==========================================================CAR_CONSTRUCTION====================================================================================================*/





















/*=======================================SKY SPECIAL EFFECTS===================================================================================================================*/

/*=======================================FOG======================================*/
.fullscreen__elements-background{
	background: url('../img/fog_1.png')  center -300px / 100% no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0;
	z-index: 57;
	opacity: 0.3;
}
.wrapper:hover .fullscreen__elements-background{
	transform: scale(3);
	opacity: 0.7;
	transition: all 60s ease 0s;
}
/*=======================================FOG======================================*/

/*=======================================SUN======================================*/
.car__sun img{
	width: 200px;
	position: absolute;
	right: 25%;
	top: 25%;
	z-index: 6;
	opacity: 0.6;
}
.wrapper:hover .car__sun img{
	transform:translate(1000px, -1000px) scale(2);
	transition: all 90s linear 0s;
	opacity: 1;
	z-index: 54;
}
/*=======================================SUN======================================*/

/*==================================DAY-NIGTH-BACKGROUNDS==================================*/
.car__background img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
}
.car__background:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 53;
}

.car__background_night img{
	height: 40%;
}
.car__background_night{
	opacity: 1;
	height: 40%;
}
.wrapper:hover .car__background_night{
	opacity: 0;
	transition: all 15s linear 0s;
}
.wrapper:hover .car__background img{
	opacity: 1;
	transition: all 10s linear 0s;
}
.wrapper:hover .car__background:before{
	background: rgba(0, 0, 0, 0);
	transition: all 20s linear 0s;
}
/*==================================DAY-NIGTH-BACKGROUNDS==================================*/

/*===============================================AIR_BALOON=======================================*/
.car__air-baloon img{
	width: 200px;
	position: absolute;
	left: 5%;
	top: 18%;
	z-index: 54;
}
.wrapper:hover .car__air-baloon img{
	transform: scale(0.2) translate(800px, -500px);
	transition: all 100s ease 0s;
}
/*===============================================AIR_BALOON=======================================*/

/*===============================================BIRD=======================================*/
.car__stork img{
	width: 150px;
	position: absolute;
	left: -250px;
	top: 20%;
	z-index: 54;
}
.wrapper:hover .car__stork img{
	transform: translate(3700px, -350px) scale(0.3);
	transition: all 30s linear 7s;
}
/*===============================================BIRD=======================================*/

/*===============================================PLANE=======================================*/
.car__plane img{
	width: 350px;
	position: absolute;
	right: -450px;
	top: 25%;
	z-index: 6;
}
.wrapper:hover .car__plane img{
	transform: scale(0.6) translate(-7000px,-750px);
	transition: all 30s linear 3s;
}
/*===============================================PLANE=======================================*/

/*===============================================MOON=======================================*/
.car__moon img{
	width: 150px;
	position: absolute;
	left: 25%;
	top: -5%;
	z-index: 1;
}
.wrapper:hover .car__moon img{
	transform: scale(0.7) translate(100px, 300px) rotate(35deg);
	opacity: 0;
	transition: all 20s linear 0s;
}
/*===============================================MOON=======================================*/

/*=======================================SKY SPECIAL EFFECTS===================================================================================================================*/















/*=======================================CAR SPECIAL EFFECTS=====================================================================================================================*/

/*===============================================CAR-LIGHT-BEAM=======================================*/
.car__light-beam img{
	width: 750px;
	position: absolute;
	left: 875px;
	top: 140px;
	z-index: 55;
	transform: rotate(-90deg);
}
.wrapper:hover .car__light-beam img{
	opacity: 0;
	transition: all 35s ease 0s;
}
/*===============================================CAR-LIGHT-BEAM=======================================*/

/*===============================================SMOKE=======================================*/
.car__smoke img{
	width: 750px;
	position: absolute;
	left: -740px;
	top: 40px;
	z-index: 155;
	transform: rotate(20deg);
}
/*===============================================SMOKE=======================================*/

/*===============================================FLAG=======================================*/
.car__flag img{
	width: 250px;
	position: absolute;
	left: 325px;
	top: 100px;
	z-index: 5;
	transform: rotate(180deg) rotateX(180deg);
}
/*===============================================FLAG=======================================*/

/*=======================================CAR SPECIAL EFFECTS=====================================================================================================================*/












/*===============================================BICYCLISTS=======================================*/
.car__bicycle-first img{
	width: 300px;
	position: absolute;
	left: -300px;
	top: 48%;
	z-index: 58;
}
.wrapper:hover .car__bicycle-first img{
	transform: translate(3800px,0px);
	transition: all 100s linear 4s;
}
.car__bicycle-second img{
	width: 250px;
	position: absolute;
	right: -250px;
	top: 41%;
	z-index: 8;
}
.wrapper:hover .car__bicycle-second img{
	transform: translate(-3800px,0px);
	transition: all 60s ease 2s;
}
/*===============================================BICYCLISTS=======================================*/

/*===============================================MONOLOG=======================================*/
.car__words img {
	width: 150px;
	position: absolute;
	left: 140px;
	top: 38%;
	z-index: 58;
	visibility: hidden;
}
.wrapper:hover .car__words img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 10s;
}

.car__words_two img{
left: 217px;
}
.wrapper:hover .car__words_two img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 12s;
}
.car__words_three img{
left: 293px;
}
.wrapper:hover .car__words_three img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 14s;
}
.car__words_four img{
left: 370px;
}
.wrapper:hover .car__words_four img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 16s;
}
.car__words_five img{
left: 446px;
}
.wrapper:hover .car__words_five img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 18s;
}
.car__words_six img{
left: 523px;
}
.wrapper:hover .car__words_six img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 20s;
}
.car__words_seven img{
left: 677px;
}
.wrapper:hover .car__words_seven img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 24s;
}
.car__words_eight img{
left: 753px;
}
.wrapper:hover .car__words_eight img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 26s;
}
.car__words_nine img{
left: 829px;
}
.wrapper:hover .car__words_nine img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 28s;
}
.car__words_ten img{
left: 905px;
}
.wrapper:hover .car__words_ten img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 30s;
}
.car__words_eleven img{
left: 980px;
}
.wrapper:hover .car__words_eleven img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 32s;
}
.car__words_tvelve img{
left: 1055px;
}
.wrapper:hover .car__words_tvelve img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 34s;
}
.car__words_thirteen img{
left: 1130px;
}
.wrapper:hover .car__words_thirteen img{
	transform: translate(3800px,0px);
	visibility: visible;
	transition: all 100s linear 36s;
}
/*===============================================MONOLOG=======================================*/










/*===============================================BANNER=======================================*/
.car__banner img{
	width: 250px;
	position: absolute;
	right: 20px;
	top: 25%;
	z-index: 7;
	border-radius: 8px;
	overflow: hidden;
}
/*===============================================BANNER=======================================*/

/*===============================================TURNTABLE=======================================*/
.car__fixed-image{
	position: fixed;
	top:78%;
	right: 7%;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 123;
}

.car__fixed-image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}

.car__fixed-image::before{
	content: '';
	top: 50%;left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: url('../img/image-fixed.jpg') center / 265px 140px no-repeat;
	z-index:131;
	position: absolute;
}
.car__fixed-image::after{
	content: '';
	top: 50%;left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.508);
	z-index:130;
	position: absolute;
}

.car__fixed-image-turntable{
	position: fixed;
	top:78%;
	right: 7%;
	width: 697px;
	height: 515px;
	z-index: 122;
	transform: translate(290px, -192px) scale(0.29) rotate(0deg);
}
.car__fixed-image-turntable-arm{
	position: fixed;
	top:78%;
	right: 7%;
	width: 555px;
	height: 300px;
	z-index: 123;
	transform: translate(285px, -118px) scale(0.265) rotate(13deg);
}

.wrapper:hover .car__fixed-image img{
	transform: rotate(3600deg);
	transition: all 38800000s linear 0s;
}
.wrapper:hover .car__fixed-image{
	transform: rotate(3600deg);
	transition: all 240s linear 0s;
}
/*===============================================TURNTABLE=======================================*/











